{% extends "base.html" %}
{% load static %}
{% block page %}
<form class="ecommerce-form action-buttons-fixed" action="#" method="post">
							<div class="row mt-2">
								<div class="col">
									<section class="card card-modern card-big-info">
										<div class="card-body">
											<div class="row">
												<div class="col-lg-2-5 col-xl-1-5">
													<i class="card-big-info-icon bx bx-box"></i>
													<h2 class="card-big-info-title">Taarifa muhimu</h2>

												</div>
												<div class="col-lg-3-5 col-xl-4-5">
													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Jina la mfanyakazi</label>
														<div class="col-lg-7 col-xl-6">
															<input type="text" class="form-control form-control-modern" name="productName" value="" required />
														</div>
													</div>


													<div class="form-group row align-items-center">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">namba ya simu</label>
														<div class="col-lg-7 col-xl-6">
															<input type="text" class="form-control form-control-modern" name="phone" value="" />
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>


							<div class="row action-buttons">
								<div class="col-12 col-md-auto">
									<button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
										<i class="bx bx-save text-4 me-2"></i> Save Product
									</button>
								</div>
								<div class="col-12 col-md-auto px-md-0 mt-3 mt-md-0">
									<a href="ecommerce-products-list.html" class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Cancel</a>
								</div>
								<div class="col-12 col-md-auto ms-md-auto mt-3 mt-md-0 ms-auto">
									<a href="#" class="delete-button btn btn-danger btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
										<i class="bx bx-trash text-4 me-2"></i> Delete Product
									</a>
								</div>
							</div>
						</form>
{% endblock %}

{% block myblock %}
kuingiza mfanyakazi mpya
{% endblock %}