{% extends "base.html" %}
{% load static %}
{% block page %}
<form class="ecommerce-form action-buttons-fixed" action="selling" method="post">
	{% csrf_token %}
							<div class="row mt-2">
								<div class="col">
									<section class="card card-modern card-big-info">
										<div class="card-body">
											<div class="row">
												<div class="col-lg-2-5 col-xl-1-5">
													<i class="card-big-info-icon bx bx-box"></i>
													<h2 class="card-big-info-title">Taarifa muhimu</h2>

												</div>
												<div class="col-lg-3-5 col-xl-4-5">
													<div class="form-group row align-items-center pb-3">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Jina la bidhaa</label>
														<div class="col-lg-7 col-xl-6">
														<select class="form-control select-style-1 results-per-page" name="product">
																{% for product in products %}
															<option value="{{product.id}}" selected>{{product.product}} => {{product.description}}</option>
																{% endfor %}

														</select>
														</div>

													</div>
													<div class="form-group row align-items-center">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Bei ya kuuzia</label>
														<div class="col-lg-7 col-xl-6">
															<input type="number" class="form-control form-control-modern" name="selling_price" required/>
														</div>
													</div>
													<div class="form-group row align-items-center">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">idadi ya bidhaa</label>
														<div class="col-lg-7 col-xl-6">
															<input type="number" class="form-control form-control-modern" name="quantity" required/>
														</div>
													</div>
													<div class="form-group row align-items-center">
														<label class="col-lg-5 col-xl-3 control-label text-lg-end mb-0">Muingizaji</label>
														<div class="col-lg-7 col-xl-6">

															<select class="form-control select-style-1 results-per-page" name="created_by">
																{% for seller in sellers %}
															<option value="{{seller.id}}" selected>{{seller.username}}</option>
																{% endfor %}

															</select>

														</div>

											</div>
										</div>
									</section>

								</div>
							</div>


							<div class="row action-buttons">
								<div class="col-12 col-md-auto">
									<button type="submit" class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1" data-loading-text="Loading...">
										<i class="bx bx-save text-4 me-2"></i> Ingiza taarifa
									</button>
								</div>

							</div>
						</form>
{% endblock %}

{% block mylinks %}

{% endblock %}

{% block mylink2 %}
<li>
	<a class="av-parent nav-expanded nav-active" href="selling">
		<i class="bx bx-envelope" aria-hidden="true"></i>
		<span>Fanya mauzo</span>
	</a>
</li>
{% endblock %}

{% block dashboard %}
<a class="nav-link" href="login">
	<i class="bx bx-home-alt" aria-hidden="true"></i>
	<span>Dashboard</span>

</a>
{% endblock %}

{% block myblock %}
Fanya mauzo
{% endblock %}

<!--{% block popup %}-->
<!--<style>-->
<!--body {font-family: Arial, Helvetica, sans-serif;}-->

<!--/* The Modal (background) */-->
<!--.modal {-->
<!--  display: none; /* Hidden by default */-->
<!--  position: fixed; /* Stay in place */-->
<!--  z-index: 1; /* Sit on top */-->
<!--  padding-top: 100px; /* Location of the box */-->
<!--  left: 0;-->
<!--  top: 0;-->
<!--  width: 100%; /* Full width */-->
<!--  height: 100%; /* Full height */-->
<!--  overflow: auto; /* Enable scroll if needed */-->
<!--  background-color: rgb(0,0,0); /* Fallback color */-->
<!--  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */-->
<!--}-->

<!--/* Modal Content */-->
<!--.modal-content {-->
<!--  background-color: #fefefe;-->
<!--  margin: auto;-->
<!--  padding: 20px;-->
<!--  border: 1px solid #888;-->
<!--  width: 80%;-->
<!--}-->

<!--/* The Close Button */-->
<!--.close {-->
<!--  color: #aaaaaa;-->
<!--  float: right;-->
<!--  font-size: 28px;-->
<!--  font-weight: bold;-->
<!--}-->

<!--.close:hover,-->
<!--.close:focus {-->
<!--  color: #000;-->
<!--  text-decoration: none;-->
<!--  cursor: pointer;-->
<!--}-->
<!--</style>-->


<!--<h2>Modal Example</h2>-->

<!--&lt;!&ndash; Trigger/Open The Modal &ndash;&gt;-->
<!--<button id="myBtn">Open Modal</button>-->

<!--&lt;!&ndash; The Modal &ndash;&gt;-->
<!--<div id="myModal" class="modal">-->

<!--  &lt;!&ndash; Modal content &ndash;&gt;-->
<!--  <div class="modal-content">-->
<!--    <span class="close">&times;</span>-->
<!--    <p>Some text in the Modal..</p>-->
<!--  </div>-->

<!--</div>-->

<!--<script>-->
<!--// Get the modal-->
<!--var modal = document.getElementById("myModal");-->

<!--// Get the button that opens the modal-->
<!--var btn = document.getElementById("myBtn");-->

<!--// Get the <span> element that closes the modal-->
<!--var span = document.getElementsByClassName("close")[0];-->

<!--// When the user clicks the button, open the modal-->
<!--btn.onclick = function() {-->
<!--  modal.style.display = "block";-->
<!--}-->

<!--// When the user clicks on <span> (x), close the modal-->
<!--span.onclick = function() {-->
<!--  modal.style.display = "none";-->
<!--}-->

<!--// When the user clicks anywhere outside of the modal, close it-->
<!--window.onclick = function(event) {-->
<!--  if (event.target == modal) {-->
<!--    modal.style.display = "none";-->
<!--  }-->
<!--}-->
<!--</script>-->

<!--{% endblock %}-->


